.divLaranja {
    background: rgb(255, 166, 0);
    width: 500px;
    height: 500px;
}

.filhodivLaranja {
    background: rgb(0, 255, 255);
    width: 250px;
    height: 250px;
}

.pBranco {
    background: #ff0000ee;
    color: #ffffffff;
    font-size: 25px;
    font-family: monospace;
    font-weight: 500;
}

.divMetdBody {
    width: 50vw;
    height: 50vh;
    background: rgb(121, 121, 255);
}

.filhoDivMetbody {
    width: 75%;
    height: 25vh;
    background-color: rgb(255, 0, 0);
}